*{ 
	padding: 0;
	margin: 0; 
	}
html,body{ 
	height: 100%;
	width: 100%;
	overflow: hidden;			
}
.nav{ 
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    z-index: 999;
}
.navBtn{ 
	position: relative;
	float: left;
	width: 20%;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	color: #fff;
	background-color: #999;
	font-size: 20px;
	font-family: "Microsoft YaHei","微软雅黑";
	font-weight: 700;	
	border: none;	
	border-right: 1px solid #000;
}


.navBtn:hover{ 
	background-color: #777;
	color: white;	
}


.con{ 
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: -webkit-transform 1.6s ease-in-out;
	-moz-transition: -moz-transform 1.6s ease-in-out;
	-o-transition: -o-transform 1.6s ease-in-out;
	-ms-transition: -ms-transform 1.6s ease-in-out;
	transition: transform 1.6s ease-in-out;
}
.conAll{ 
	width: 100%;
	height: 100%;
	position: relative;
}
/*第一页内容样式*/
#con1{ 
	background-image: url(images/b12.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: -50px;
}
.con1-body,
.con1-img,
.con1-mask,
.con1-border{ 
	width: 400px;
	height: 400px;
	border-radius: 50%;
}
.con1-body{ 
	display: block;
	position: relative;
	top: 50px;
	margin: 0 auto;

}
.con1-img{ 
	background-size: cover;
	background-position: 20px 0px;
}
.con1-mask,
.con1-border,
.con1-info{ 
	position: absolute;
	left: 0;
	top: 0;
}
.con1-mask{ 
	text-align: center; 
	background-color: black;
	opacity: 0;
	transition: opacity 1s;
} 
.con1-info{ 
	color: #fff;
	margin-top: 50%;
	-webkit-transition: -webkit-translateY(-50%);
	-moz-transition: -moz-translateY(-50%);
	-o-transition: -o-translateY(-50%);
	-ms-transition: -ms-translateY(-50%);
	transform: translateY(-50%);
	opacity: 0;
	-webkit-transition: opacity 1s; 
	-moz-transition: opacity 1s; 
	-o-transition: opacity 1s; 
	-ms-transition: opacity 1s; 
	transition: opacity 1s;
}
.con1-border{ 
	border: 10px solid #fff;
	border-left-color: #CAFF70;
	border-top-color: #CAFF70;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform  1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	-ms-transition: -ms-transform 1s;
	transition: transform 1s;
}
.con1-body:hover .con1-info{ 
    opacity: 1;
    z-index: 99;
}
.con1-body:hover .con1-mask{ 
	opacity: 0.3;
}
.con1-body:hover .con1-border{ 
	-webkit-transform: rotate(180deg); 
	-moz-transform: rotate(180deg); 
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg); 
	transform: rotate(180deg);
}
.con1-foot{ 	
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	font-family: "Microsoft YaHei","微软雅黑";
	color: #000;
	transition :all 2s;
	cursor: pointer;	
}
.con1-foot h1{ 	
	font-size: 50px;
	padding: 20px 0 10px 0;
}
.con1-foot h2{ 
	font-size: 25px;
	padding: 5px 0 15px 0;
}
.con1-foot p{ 
	font-size: 20px;
	padding: 8px 0 8px 0;	
}
.con1-foot-p{ 
	transition: all 1s;
}
.con1-foot-p:hover{ 
	color: #fff;
}
.con1-foot-info{ 
	transition: all 1.5s;
}
.con1-foot-info-e{ 
	position: absolute;
	opacity: 0;
	bottom: 43%;
	z-index: -1;
	transition: all 1.5s;
}
.con1-foot-info-z{ 
	transition: all 1.5s;
}
#con1-btn-e, #con1-btn-z{ 
	cursor: pointer;
	display: inline-block;
	border: none;
	width: 10%;
	height: 25px;
	background-color: #4876FF;
	border: 2px solid #333;
	border-radius: 6px;
	margin-top: 10px;
	color: white;
	font-family: "Microsoft YaHei","微软雅黑";
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	transition: all 1s;
}
#con1-btn-e:hover{ 
	transform: translateX(-30px) scale(1.5);
	color: black;
	background-color: yellow;
}
#con1-btn-z:hover{ 
	transform: translateX(30px) scale(1.5);
	color: black;
	background-color: yellow;
}

/*第二页*/
#con2{ 
	margin-top: -20px;
	padding-top: 20px;
	color:#000;
	font-family: "Microsoft YaHei","微软雅黑";
	background: url(images/b6.jpg);
	background-size: cover;
}
.con2-top, .con3-top ,.con4-top,.con5-top{ 
	width: 20%;
	margin: 20px auto;
	border-bottom: 5px solid yellow;
	text-align: center;
	padding-bottom: 20px;
	font-size: 30px; 
	transition:all 1.5s;
	cursor: pointer;
	color: white;	
}
.con3-top:hover ,.con4-top:hover{ 
	color: black;
	border-bottom-color: red; 
}

.con2-top{ 
	color: black;
	border-bottom-color: #6495ED;
}
.con2-top:hover{ 
	color: white;
	border-bottom-color: yellow;
}
.con2-left{ 
	position:absolute;
	top: 10%;
	left: 5%;
	width: 40%;	
}
.con2-left-head{ 
	width: 30%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30%;
	padding-left: 10%;
	padding-bottom: 20px;
	font-size: 25px;	
	font-weight: 500;	
	border-bottom: 4px solid #6495ED;
	transition: all 1s;
	cursor: pointer;
	color: #000;
}
.con2-left-head:hover { 
	color: #fff;
	border-bottom-color: yellow;
}
	
.con2-left-circle, .con2-right-circle{ 
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-bottom: -5px;
	background-color: #fff;
	display: inline-block;
	margin-right: 10px;
	border: 3px solid #CAFF70;
	border-left-color: #A4D3EE;
	border-top-color: #A4D3EE; 
	transition: all 1s ;	
}
.con2-left-info:hover .con2-left-circle, .con2-right-info:hover .con2-right-circle{ 
	background-color: #ddd;
	border: 3px solid #222;
	border: 3px solid #A4D3EE;
	border-left-color: #CAFF70;
	border-top-color: #CAFF70; 
	transform: translateX(1500%) scale(2);
}
.con2-left-info, .con2-right-info{ 
	text-align: left;
	width: 100%;
	margin-top: 10px;
	border-bottom: 2px solid #aaa;
	font-size: 20px;
	cursor:pointer;	
}
.con2-left-info{ 
	margin-bottom: 22px;
	padding-bottom: 15px;
	transition:all 0.5s;
}
.con2-left-info:hover{ 
	border-bottom-color: yellow;
	color: #fff;
}


.con2-right{ 
	position: absolute;
	top: 10%;
	right: 5%;
	width: 40%;	
}
.con2-right-head{ 
	width: 30%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 30%;
	padding-left: 10%;
	padding-bottom: 20px;
	font-size: 25px;	
	font-weight: 500;	
	border-bottom: 4px solid #6495ED;
	transition: all 1s;
	cursor: pointer;
	color: black;
}
.con2-right-head:hover{ 
	color: #fff;
	border-bottom-color: yellow;
}
.con2-right-info{ 
	border: 5px solid #aaa;
	border-left-color: white;
	border-top-color: white; 
	padding: 10px;
	line-height: 40px;
	border-radius: 10%;
	transition:all 1s;
}
.con2-right-info:hover{ 
	border-color: white;
	border-left-color: #aaa;
	border-top-color: #aaa; 
	color: #6495ED;
}
/*第三页*/
#con3{ 
	background: url(images/b19.jpg);
	background-size: cover;
	margin-top: -20px;
	padding-top: 20px;
}
.con3-left{ 	
	position: absolute;
	top: 12%;
	width: 48%;
	height: 80%;
	padding: 2%; 
}
.con3-left-3d{ 
	-webkit-perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective: 800px;
	-moz-perspective-origin: 50% 50%;
	-o-perspective: 800px;
	-o-perspective-origin: 50% 50%;
	-ms-perspective: 800px;
	-ms-perspective-origin: 50% 50%;	
}
.con3-left-3d-pages{ 
	-webkit-transform-style: perspective-3d;
	-moz-transform-style: perspective-3d;
	-o-transform-style: perspective-3d;
	-ms-transform-style: perspective-3d;
	width: 400px;
	height: 400px;
	position: relative;	
	overflow: hidden;
	margin: 30px auto;
	border: 5px solid yellow;
	border-radius: 10px;
}
.con3-left-page{ 
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
}
.con3-left-page img{ 
	width: 100%;
	background-size: cover;
}
#page1{ 
	-webkit-transform-origin: left;
	-webkit-transition:-webkit-transform 1s;
	-webkit-transform: rotateY(0deg);
	-moz-transform-origin: left;
	-moz-transition:-moz-transform 1s;
	-moz-transform: rotateY(0deg);
	-o-transform-origin: left;
	-o-transition:-moz-transform 1s;
	-o-transform: rotateY(0deg);
	-ms-transform-origin: left;
	-ms-transition:-moz-transform 1s;
	-ms-transform: rotateY(0deg);
}
#page2, #page3, #page4, #page5, #page6{ 
	-webkit-transform-origin: left;
	-webkit-transition:-webkit-transform 1s;
	-webkit-transform: rotateY(90deg);
	-moz-transform-origin: left;
	-moz-transition:-moz-transform 1s;
	-moz-transform: rotateY(90deg);
	-o-transform-origin: left;
	-o-transition:-moz-transform 1s;
	-o-transform: rotateY(90deg);
	-ms-transform-origin: left;
	-ms-transition:-moz-transform 1s;
	-ms-transform: rotateY(90deg);
}


.con3-3d-btn-left, .con3-3d-btn-right{ 
	position: absolute;
	width: 90px;
    height: 45px;
    background-color: rgba(30,144,255,1);
    color: #fff;
    font-family: "Microsoft YaHei","微软雅黑";
    font-weight: 700;
    top: 65%;
    left: 34%;
    border-radius: 10px;
    border: 3px solid yellow;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    line-height: 45px;
    transition:all 1s;
}
.con3-3d-btn-left:hover, .con3-3d-btn-right:hover{ 
	color: #555;
	background-color: yellow;
	border-color: blue;
}
.con3-3d-btn-left:hover{ 	
	transform: translateX(-100px) scale(2);
}
.con3-3d-btn-right:hover{ 
	transform: translateX(100px) scale(2);
}
.con3-3d-btn-right{ 
	left: 54%;
}
.con3-right{ 
	position: absolute;
	top: 18%;
	left: 52%;
	width: 40%;
	height: 55%;
	background-color: #fff;
	border: 6px solid yellow;
	border-radius: 10px;
}
.con3-right-info{ 
	position: absolute;
	color: #222;
	font-size: 28px;
	padding: 10px;
	text-align: left;
	line-height: 1.8; 
	font-family: "Microsoft YaHei","微软雅黑";
	opacity: 0;	
	transition: all 1.5s;
}
.con3-right-info:hover{ 
	color: #00FF7F;
	background-color: red;
}
#con3-right-info1{ 
	opacity: 1;
}
/*第四页*/
#con4{ 
	background: url(images/b1.jpg);
	background-size: cover;
	margin-top: -20px;
	padding-top: 20px;
}
.con4-top{ 
	color: black;
	border-bottom-color: #6495ED;
	transition: all 1s;
}
.con4-top:hover{ 
	color: #1C86EE;
	border-bottom-color: red;
}
.con4-info{ 
	position: absolute;
	width: 40%;
	height: 40%;
	top: 20%;
	font-size: 25px;
	font-weight: 500;
	margin: 10% auto;
	line-height: 1.8;
	margin-left: 5%;
	font-family: "Microsoft YaHei","微软雅黑";	
}

.con4-info-z, .con4-info-e{ 
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 1s;
}
.con4-info-z{ 
	opacity: 1;
	z-index: 10;
	margin-top: 10%;
}
.con4-info-e{ 
	opacity: 0;
	z-index: 9;
}
.con4-info-z:hover{ 
	opacity: 0;
}
.con4-info-z:hover ~.con4-info-e{ 
	opacity: 1;
	color: black;
}
.con4-prompt{ 
	position: absolute;
	bottom: 12%;
	left: 15%;
	font-weight: bold;
	font-size: 18px;
	width: 19%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 2px solid #333;
	border-radius: 5px;
	background-color: #FAFAD2; 
	transition: all 1s;
}
.con4-prompt:hover{ 
	color: yellow;
	background-color: #333; 
}
/*第五页*/
#con5{ 
	margin-top: -20px;
	padding-top: 20px;
	background: url(images/b20.jpg);
	background-size: cover;
}
.con5-top{ 
	color: black;
	border-bottom-color: #6495ED;
}
.con5-top:hover{ 
	color: #6495ED;
	border-bottom-color: #76EE00;
}
.con5-info-z,.con5-info-e{ 
	position: absolute;
	top: 30%;
	left: 10%;
	width: 40%;
	font-size: 30px;
	font-family: "Microsoft YaHei","微软雅黑";
	transition:all 1.5s;
}
.con5-info-z{ 
	z-index: 20;
}
.con5-info-e{ 
	z-index: 19;
	opacity: 0;
}
.con5-info-z:hover{ 
	opacity: 0;
}
.con5-info-z:hover~.con5-info-e{ 
	opacity: 1;
}
